*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.twitter{
  display: flex;
}

.sidebar{
  width: 25%;
  position: fixed;
  left: 0;
  height: 100%;
  border-right: 1px solid #e6ecf0;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 18px 35px;
  font-weight: 700;
  font-size: 18px;
}
.sidebar ul li a:hover{
  background: #e8f5fe;
  color: #1da1f2;
}

.icons{
  margin-right: 15px;
  font-size: 25px;
}
.logo{
  color: #1da1f2;
}

.sidebar__Btn{
  margin: 15px 0;
}
.sidebar__Btn a{
  text-decoration: none;
  background: #1da1f2;
  color: #fff;
  padding: 13px 35px;
  margin: 0 35px;
  border-radius: 50px;
  outline: none;
  display: block;
  text-align: center;
}

/* Twittes style */

.posts{
  width: 50%;
  margin-left: 25%;
  border-right: 1px solid #e6ecf0;
}
.posts__home{
  width: 50%;
  position: fixed;
  top: 0;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 700;
  border-bottom: 1px solid #e6ecf0;
  font-size: 18px;
  background: #fff;
  border-right: 1px solid #e6ecf0;
}

/* createTweet style */

.create{
  padding-top: 70px;
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 20px;
}

.create__first{
  display: flex;
  padding: 0 20px;
  align-items: center;
}
.create__img{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.create__img img{
  width: 100%;
  height: 100%;
}
.create_input{
  display: flex;
  justify-content: center;
  align-items: center;
}
.create_control{
  border: none;
  outline: none;
  padding: 10px;
  opacity: .5;
}
.create__second{
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
}

.create__icons{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  /* width: 50%; */
}

.ic{
  margin: 0 6px;
  font-size: 20px;
  cursor: pointer;
  color: #1da1f2;
}
.create__btn{
  width: 80px;
  text-align: center;
  margin-left: 30%;
}
.create__btn {
  background: #1da1f2;
  color: #fff;
  border-radius: 10%;
  padding: 10px;
}

/* post Style */
.postsjs{
  padding: 20px;
  border-bottom:1px solid #e6ecf0;
}
.postsjs__first{
  display: flex;
  align-items: center;
}
.postsjs__first__img{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.postsjs__first__img img{
  width: 100%;
  height: 100%;
}
.postsjs__first__name{
  margin-left: 6px;
}
.postsjs__first__username{
  margin-left: 6px;
  color: silver;
  font-weight: 300;
}
.postsjs__first__username span{
  display: inline-block;
  margin-left: 5px;
  font-size: 14px;
}
.verify{
  margin-left: 3px;
  color: #1da1f2;
}
.postjs__details{
  margin: 8px 30px;
  overflow: hidden;
}

.postjs__details__img{
  width: 100%;
  margin-top: 6px;
}
.postjs__details__img img {
  width: 100%;
}
.reactions{
  display: flex;
  justify-content: space-between;
  margin: 8px 4px;
  align-items: center;
  color: silver;
}

/* Trends style */

.trends{
  width: 25%;
}
.trends__search{
  position: fixed;
  width: 25%;
  top:10px;
  right: 0;
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 20px;
}
.trend__control{
  border: none;
  width: 90%;
  margin-left: 20px;
  outline: none;
  background: #f5f4f2;
  border-radius: 50px;
  padding: 15px 40px;
}
.trend__icon{
  position: absolute;
  top: 15px;
  left: 40px;
}
.search{
  font-size: 20px;
  color: silver;
}

/* TrendsKeyWord */

.keywords{
  position: fixed;
  top:80px;
  right: 0;
  width: 25%;
  padding: 20px 20px;
}
.key{
  background: #f5f8fa;
  padding: 15px;
  border-radius: 5px;
}
.keyword__heading{
  font-size: 20px;
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 8px;
  margin: 20px;
}
.country{
  font-size: 14px;
  color: silver;
  font-weight: 300;
  margin: 10px 20px;
}

.keyword__name{
  margin-bottom: 8px;
}

.keyword__tweets{
  margin-top: 7px;
  color: silver;
  font-size: 14px;
  font-weight: 300;
}

/* Responsive style */
@media only screen and (max-width: 600px) {
  .sidebar{
    display: none;
  }
  .trends{
    display: none;
  }
  .posts{
    width: 100%;
    margin-left: 2%;
  }
  .posts__home{
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 100%;
  }
  .posts__home h2{
    margin-left: 30px;
  }

}
